<div class="margin-bottom-20">
    <form action="<%= @s3_direct_post.url %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" name="key" value="<%= @s3_direct_post.fields['key'] %>" /><br />
        <input type="hidden" name="X-Amz-Credential" value="<%= @s3_direct_post.fields['x-amz-credential'] %>" />
        <input type="hidden" name="X-Amz-Algorithm" value="<%= @s3_direct_post.fields['x-amz-algorithm'] %>" />
        <input type="hidden" name="X-Amz-Date" value="<%= @s3_direct_post.fields['x-amz-date'] %>" />
        <input type="hidden" name="success_action_status" value="<%= @s3_direct_post.fields['success_action_status'] %>" />
        <input type="hidden" name="Policy" value='<%= @s3_direct_post.fields['policy'] %>' />
        <input type="hidden" name="X-Amz-Signature" value="<%= @s3_direct_post.fields['x-amz-signature'] %>" />
        <div class="custom-file">
            <img id="fileImage" src="#" alt=""/>
            <label class="custom-file-label" for="file">File</label>
            <input type="file" class="custom-file-input" name="file" id="file" />
        </div>
    </div>
    <input class="btn btn-primary"  type="submit" name="submit" value="Upload to Amazon S3" />
    </form>
</div>
<div>
    <select multiple="multiple" class="image-picker show-html">
        <% @objects.each do |object| %>
            <option data-img-src='<%= @s3_direct_post.url + "/" + object.key %>' value="<%= object.key %>"></option>
        <% end %>
    </select>
</div>

<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
$(document).ready(function() {
    $("select").imagepicker();
});
</script>
