<html>
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
  </head>
  <body>

  <form action="<%= @s3_direct_post.url %>" method="post" enctype="multipart/form-data">
    Key to upload: 
    <input type="input"  name="key" value="<%= @s3_direct_post.fields['key'] %>" /><br />
    Content-Type: 
    <input type="text"   name="X-Amz-Credential" value="<%= @s3_direct_post.fields['x-amz-credential'] %>" />
    <input type="text"   name="X-Amz-Algorithm" value="<%= @s3_direct_post.fields['x-amz-algorithm'] %>" />
    <input type="text"   name="X-Amz-Date" value="<%= @s3_direct_post.fields['x-amz-date'] %>" />
    <input type="hidden" name="success_action_status" value="<%= @s3_direct_post.fields['success_action_status'] %>" />

    Tags for File: 
    <input type="hidden" name="Policy" value='<%= @s3_direct_post.fields['policy'] %>' />
    <input type="hidden" name="X-Amz-Signature" value="<%= @s3_direct_post.fields['x-amz-signature'] %>" />
    File: 
    <input type="file"   name="file" /> <br />
    <!-- The elements after this will be ignored -->
    <input type="submit" name="submit" value="Upload to Amazon S3" />
  </form>
</html>